<!DOCTYPE html>
<html>
<head>
  <title>Indigecomms</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body>

<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#call_us"><%= octicon "device-mobile", :height => 50, :"aria-label" => "Call Us" %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#email_us"><%= octicon "mail", :height => 50, :"aria-label" => "Email Us" %></a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted"><%= link_to image_tag("indigecomms_header.jpg"), root_url %></h3>
  </div>

  <%= yield %>
  <footer class="footer">
    <div class="row">
      <div class="col-lg-6">
        <%#= image_tag("indigecomms_feather.png", style: "width:50px;padding:0;") %><br/>

        <p class="lead">&copy; Indigecomms <%= Time.now.year %></p>
      </div>
      <div class="col-lg-6 push-3">
        <p>
          <%= link_to image_tag("Twitter_Logo_Blue.png", style: "width:80px;padding:0;"), "http://twitter.com/indigecomms", target: "_blank" %>
          <%= link_to image_tag("instagram.png", style: "width:50px;padding:0;"), "http://instagram.com/indigecomms", target: "_blank" %>
        </p>
      </div>
    </div>
  </footer>

</div>
<%= render "/layouts/modal" %>
<!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
